<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Memo List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="(memoService.memos$ | async) as memos">
    <ion-card 
      *ngFor="let memo of memos"
      (click)="editMemo(memo)"
    >
      <ion-card-header>
        <ion-card-title>{{memo.value.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{memo.value.content}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-fab (click)="createMemo()" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>